# Exercícios Módulo 5. Bases de dados com SQLite (Soluções)

Considerações a ter em conta:

* Guardar este documento com o seguinte formato para entrega: M5_04_nome_apelido1_apelido2
* Fazer os exercícios com as ferramentas vistas nas sessões. 
* Comentar o código
* Utilizar nomes de variáveis apropriados, se vai guardar uma nota, chamar a essa variável nota, não n ou x

**1) Praticar um pouco com SQLite:**

* Criar uma base de dados que se chame biblioteca
* Criar as seguintes tabelas (deverá colocar os tipos dos atributos com lógica, investigar quais há em SQLite para o poder fazer): 
 * autor(bi, nome, apelidos, estarVivo)
     * em bi pode colocar um número aleatório
 * livro(isbn, título, editorial, ano_escrito)  
     * isnb = International Standard Book Number - Pode colocar um número aleatório
 * utilizador(bi, nome, apelidos, numEmpréstimos)
     * em bi pode colocar um número aleatório
* Inserir pelo menos 3 registos em cada uma das tabelas 
 * Em autor, alguns vivos e outros mortos
 * Em livro, alguns com ano de escritura anterior a 1900 e outros depois 
 * Em utilizador, alguns com mais de 10 empréstimos e outros com menos
* Comprovar que tudo está correto com **DB Browser (SQLite)** 
* Fazer as seguintes consultas:
 * Listar a todos os autores 
 * Listar todos os livros 
 * Listar todos os utilizadores
 * Listar todos os autores que estejam vivos (CLAUSULA WHERE)
 * Listar todos os livros que tenham sido escritos posteriormente a 1900
 * Listar todos os utilizadores que se tenham levado mais de 10 livros e filtrar pelo nome

In [1]:
#  Completar o exercício aqui
import os
import sqlite3

# Create a SQLite database connection
conn = sqlite3.connect("biblioteca.db")
cursor = conn.cursor()

# Define and execute SQL queries
def execute_query(query):
    cursor.execute(query)
    conn.commit()

# Create tables
execute_query("""
CREATE TABLE IF NOT EXISTS autor (
    bi INTEGER PRIMARY KEY,
    nome TEXT,
    apelidos TEXT,
    estarVivo INTEGER
)
""")

execute_query("""
CREATE TABLE IF NOT EXISTS livro (
    isbn INTEGER PRIMARY KEY,
    título TEXT,
    editorial TEXT,
    ano_escrito INTEGER
)
""")

execute_query("""
CREATE TABLE IF NOT EXISTS utilizador (
    bi INTEGER PRIMARY KEY,
    nome TEXT,
    apelidos TEXT,
    numEmpréstimos INTEGER
)
""")

# Insert sample data
execute_query("""
INSERT INTO autor (bi, nome, apelidos, estarVivo) VALUES
(1001, 'Autor1', 'Apelidos1', 1),
(1002, 'Autor2', 'Apelidos2', 0),
(1003, 'Autor3', 'Apelidos3', 1)
""")

execute_query("""
INSERT INTO livro (isbn, título, editorial, ano_escrito) VALUES
(101, 'Livro1', 'Editorial1', 1890),
(102, 'Livro2', 'Editorial2', 2005),
(103, 'Livro3', 'Editorial3', 1920)
""")

execute_query("""
INSERT INTO utilizador (bi, nome, apelidos, numEmpréstimos) VALUES
(1001, 'Utilizador1', 'Apelidos1', 5),
(1002, 'Utilizador2', 'Apelidos2', 12),
(1003, 'Utilizador3', 'Apelidos3', 7)
""")

# Run queries
cursor.execute("SELECT * FROM autor")
print("Authors:")
for row in cursor.fetchall():
    print(row)

cursor.execute("SELECT * FROM livro")
print("\nBooks:")
for row in cursor.fetchall():
    print(row)

cursor.execute("SELECT * FROM utilizador")
print("\nUsers:")
for row in cursor.fetchall():
    print(row)

cursor.execute("SELECT * FROM autor WHERE estarVivo = 1")
print("\nLiving Authors:")
for row in cursor.fetchall():
    print(row)

cursor.execute("SELECT * FROM livro WHERE ano_escrito > 1900")
print("\nBooks written after 1900:")
for row in cursor.fetchall():
    print(row)

cursor.execute("SELECT * FROM utilizador WHERE numEmpréstimos > 10")
print("\nUsers with more than 10 loans:")
for row in cursor.fetchall():
    print(row)

# Close the database connection
conn.close()

# Define the path to your SQLite database file
db_file = 'biblioteca.db'

# Check if the file exists before attempting to delete it
if os.path.exists(db_file):
    os.remove(db_file)
    print(f"The database file '{db_file}' has been deleted.")
else:
    print(f"The database file '{db_file}' does not exist.")

Authors:
(1001, 'Autor1', 'Apelidos1', 1)
(1002, 'Autor2', 'Apelidos2', 0)
(1003, 'Autor3', 'Apelidos3', 1)

Books:
(101, 'Livro1', 'Editorial1', 1890)
(102, 'Livro2', 'Editorial2', 2005)
(103, 'Livro3', 'Editorial3', 1920)

Users:
(1001, 'Utilizador1', 'Apelidos1', 5)
(1002, 'Utilizador2', 'Apelidos2', 12)
(1003, 'Utilizador3', 'Apelidos3', 7)

Living Authors:
(1001, 'Autor1', 'Apelidos1', 1)
(1003, 'Autor3', 'Apelidos3', 1)

Books written after 1900:
(102, 'Livro2', 'Editorial2', 2005)
(103, 'Livro3', 'Editorial3', 1920)

Users with more than 10 loans:
(1002, 'Utilizador2', 'Apelidos2', 12)
The database file 'biblioteca.db' has been deleted.